.article {
  position: relative;
  background-color: rgba(0,0,0,.3);
  border: 1px solid lightgrey;
  width: 80%;
  margin: auto;
  padding: 15px;
  margin-bottom: 15px;
}

.title {
  display: inline-block;
  background-color: rgba(0,0,0,.3);
  border: 1px solid lightgrey;
  float: left;
  width: 95%;
  padding: 5px 5px 5px 5%;
}

.author {
  padding: 5px;
  position: absolute;
  float: right;
  width: 20%;
}

.category {
  padding: 5px;
  position: absolute;
  float: left;
  width: 20%;
}

.content {
  padding: 5px;
  display: inline-block;
  width: calc( 100% - 5px );
  border: 1px solid lightgrey;
}

.tags {
  padding: 5px;
  display: inline-block;
  width: calc( 100% - 5px );
  background-color: rgba(0,0,0,.3);
  border: 1px solid lightgrey;
}

.tag {
  display: inline;
  margin-right: 2%;
}
