<div *ngIf="articles && articles.length>0">
  <div class="article" *ngFor="let article of articles">
    <span class="title"><b>{{article.title}}</b></span>
    <span class="category"> > {{article.category}} > </span>
    <span class="author">{{article.author}}</span>
    <span class="content" innerHTML="{{article.content}}"></span>
    <span class="tags"><div class="tag" *ngFor="let tag of article.tags">#{{tag}}</div></span>
  </div>
</div>
